# Real Estate Project

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('housing_data.csv')               #load the data 
housing

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [4]:
# 4. CHAS      Charles River dummy variable (= 1 if tract bounds 
#                 river; 0 otherwise)

In [5]:
housing["CHAS"].value_counts()   #count that how many values is 0 and how many is 1

0    471
1     35
Name: CHAS, dtype: int64

In [6]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
import matplotlib.pyplot as plt

In [8]:
# housing.hist(bins=50, figsize=(20,15))
# plt.show()

# Train - Test Spliting (Manually)

In [9]:
import numpy as np
def split_train_test(data,ratio):
    np.random.seed(222)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indicates = shuffled[:test_set_size]
    train_indicates = shuffled[test_set_size:]
    return data.iloc[train_indicates], data.iloc[test_indicates]

In [10]:
train_set , test_set = split_train_test(housing,0.2)
print("size of train data set is",len(train_set))
print("size of test data set is",len(test_set))

size of train data set is 405
size of test data set is 101

# Train - Test Spliting(Using sklearn)

In [11]:
from sklearn.model_selection import train_test_split
train_set,test_set = train_test_split(housing, test_size=0.2,random_state=33)

In [12]:
print(len(train_set))
print(len(test_set))

#train_set["CHAS"].value_counts()

404
102

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=234)
for train_index,test_index in split.split(housing,housing["CHAS"]):
    train_set = housing.loc[train_index]
    test_set = housing.loc[test_index]

In [14]:
#print(train_set["CHAS"].value_counts())
#print(test_set["CHAS"].value_counts())

print(train_set)
print(housing.loc[train_index])

        CRIM    ZN  INDUS  CHAS    NOX    RM    AGE     DIS  RAD  TAX  \
36   0.09744   0.0   5.96     0  0.499  5.841  61.4  3.3779    5  279
214  0.28955   0.0  10.59     0  0.489  5.412   9.8  3.5875    4  277
464  7.83932   0.0  18.10     0  0.655  6.209  65.4  2.9634   24  666
20   1.25179   0.0   8.14     0  0.538  5.570  98.1  3.7979    4  307
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
324  0.34109   0.0   7.38     0  0.493  6.415  40.1  4.7211    5  287
188  0.12579  45.0   3.44     0  0.437  6.556  29.1  4.5667    5  398
329  0.06724   0.0   3.24     0  0.460  6.333  17.2  5.2146    4  430
138  0.24980   0.0  21.89     0  0.624  5.857  98.2  1.6686    4  437

     PTRATIO       B  LSTAT  MEDV
36      19.2  377.56  11.41  20.0
214     18.6  348.93  29.55  23.7
464     20.2  396.90  13.22  21.4
20      21.0  376.57  21.02  13.6
499     19.2  395.77  15.10  17.5
..       ...     ...    ...   ...
504     21.0  393.45   6.48  22.0
324     19.6  396.90   6.12  25.0
188     15.2  382.84   4.56  29.8
329     16.9  375.21   7.34  22.6
138     21.2  392.04  21.32  13.3

[404 rows x 14 columns]
        CRIM    ZN  INDUS  CHAS    NOX    RM    AGE     DIS  RAD  TAX  \
36   0.09744   0.0   5.96     0  0.499  5.841  61.4  3.3779    5  279
214  0.28955   0.0  10.59     0  0.489  5.412   9.8  3.5875    4  277
464  7.83932   0.0  18.10     0  0.655  6.209  65.4  2.9634   24  666
20   1.25179   0.0   8.14     0  0.538  5.570  98.1  3.7979    4  307
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
324  0.34109   0.0   7.38     0  0.493  6.415  40.1  4.7211    5  287
188  0.12579  45.0   3.44     0  0.437  6.556  29.1  4.5667    5  398
329  0.06724   0.0   3.24     0  0.460  6.333  17.2  5.2146    4  430
138  0.24980   0.0  21.89     0  0.624  5.857  98.2  1.6686    4  437

     PTRATIO       B  LSTAT  MEDV
36      19.2  377.56  11.41  20.0
214     18.6  348.93  29.55  23.7
464     20.2  396.90  13.22  21.4
20      21.0  376.57  21.02  13.6
499     19.2  395.77  15.10  17.5
..       ...     ...    ...   ...
504     21.0  393.45   6.48  22.0
324     19.6  396.90   6.12  25.0
188     15.2  382.84   4.56  29.8
329     16.9  375.21   7.34  22.6
138     21.2  392.04  21.32  13.3

[404 rows x 14 columns]

# Looking for correlations

In [15]:
corr =  housing.corr()
corr["MEDV"].sort_values(ascending=False)

MEDV       1.000000
RM         0.695360
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
LSTAT     -0.737663
Name: MEDV, dtype: float64

In [16]:
housing_features = train_set.drop("MEDV",axis=1)
housing_lables = train_set["MEDV"]

In [17]:
# in our data there is no missing attributes but incase there is a some missing attribute than there is three ways to handle 


# 1 - remove missing datapoints
# 2 - remove whole column
# 3 - set the value to some value (0,mean, median)

In [18]:
housing_copy = pd.read_csv('housing_data_Copy.csv')               #load the duplicate data 
housing_copy

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,NaN,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [19]:
a = housing_copy.dropna()          #first method

a

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [20]:
housing_copy.drop("CRIM", axis=1)       #second method

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [21]:
medain = housing_copy["CRIM"]               #third method
housing_copy["CRIM"].fillna(medain)

0          NaN
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64

In [22]:

housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Creating Pipline

In [23]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer


my_pipline = Pipeline([
    
    ("imputer",SimpleImputer(strategy="median")),
    ("std_scalet" , StandardScaler()),
    
])

In [24]:
 housing_num_tr = my_pipline.fit_transform(housing_features)

In [25]:
housing_num_tr

array([[-0.3938771 , -0.49811753, -0.74017038, ...,  0.36158786,
         0.20403621, -0.17302384],
       [-0.37221112, -0.49811753, -0.04669465, ...,  0.08578894,
        -0.12259907,  2.35784434],
       [ 0.47924466, -0.49811753,  1.07814396, ...,  0.82125272,
         0.42468331,  0.07950491],
       ...,
       [-0.39067982,  1.4403983 , -1.11761289, ..., -1.4770716 ,
         0.26427492, -1.12872654],
       [-0.39728303, -0.49811753, -1.14756865, ..., -0.69564133,
         0.17722542, -0.74086471],
       [-0.37669409, -0.49811753,  1.64580552, ...,  1.28091758,
         0.36923631,  1.20960591]])

# Seclecting model

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor




#model = LinearRegression()
#model = DecisionTreeRegressor()
model = RandomForestRegressor()



model.fit(housing_num_tr,housing_lables)

RandomForestRegressor()

In [27]:
some_data = housing_features.iloc[:5]
some_lables = housing_lables.iloc[:5]

In [28]:
prepared_data = my_pipline.transform(some_data)

In [29]:
model.predict(prepared_data)

array([20.296, 21.668, 21.469, 13.931, 18.099])

In [30]:
some_lables

36     20.0
214    23.7
464    21.4
20     13.6
499    17.5
Name: MEDV, dtype: float64

# Evaluting model

In [31]:
from sklearn.metrics import mean_squared_error
housing_predictions = model.predict(housing_num_tr)
msc = mean_squared_error(housing_lables,housing_predictions)
rmsc = np.sqrt(msc)

In [32]:
print(rmsc)

1.203315746034044

# Using better evalute technique - cross validation

In [33]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(model,housing_num_tr,housing_lables, scoring="neg_mean_squared_error")
rmsc_score = np.sqrt(-score)

In [34]:
rmsc_score

array([3.12363454, 3.07956796, 3.70237116, 3.20142889, 3.6487884 ])

In [35]:
 def print_score(score):
        print("score", score)
        print("score mean", score.mean())
        print("Standard deviation ",score.std())

In [36]:
print_score(rmsc_score)

score [3.12363454 3.07956796 3.70237116 3.20142889 3.6487884 ]
score mean 3.3511581895539804
Standard deviation  0.26828396228364537

# Dump the model

In [37]:
from joblib import dump,load
dump(model,"realesatate")

['realesatate']

In [38]:
X_test = test_set.drop("MEDV", axis=1)
Y_test = test_set["MEDV"].copy()

X_test_prepared = my_pipline.transform(X_test)
final_prediction = model.predict(X_test_prepared)
final_msc = mean_squared_error(Y_test,final_prediction)
final_rmsc = np.sqrt(final_msc)

In [40]:
final_rmsc

3.2478436798324313